---
title: About ready4
linkTitle: About
menu:
  main:
    weight: 1
---

{{< blocks/cover title="About ready4" image_anchor="bottom" height="min" >}}
<h1>The goal of ready4 is to be <a href = "/docs/getting-started/motivation/">an accountable, reusable and updatable</a> youth mental health systems <a href = "/docs/getting-started/concepts/model/">model</a>.</h1>
{{< /blocks/cover >}}

{{% blocks/lead %}}
<div class="col">
<h1><b>Catalyst</b></h1>
<h2 class="text-center">In July 2017, with <a href = "/docs/contribution-guidelines/contribution-types/funding/">funding support</a> from VicHealth, Orygen and Victoria University, we began to to plan and test how we could implement an <a href = "/docs/software/terms/licenses/">open source</a> simulation model of resilience in young people. At that time, the project was called readyforwhatsnext.</h2>
</div>
{{% /blocks/lead %}}


{{< blocks/section >}}

{{% blocks/feature icon="fas fa-comment" title="Stakeholder Engagement"  %}}
We got [advice and feedback](/docs/contribution-guidelines/contribution-types/advisory/) from [young people](/docs/getting-started/stakeholders/young-people/), [policy professionals](/docs/getting-started/users/planner/), [modellers](/docs/getting-started/users/modeller/) and other [researchers](/docs/getting-started/stakeholders/researchers/).
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-map-marked" title="Conceptual Model" %}}
We developed a [conceptual model](/blog/2021/02/12/readyforwhatsnext-conference-posters-now-available/) of resilience to inform how we might implement a [computational model](/docs/getting-started/concepts/model/).
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-check" title="Prototype" %}}
We authored [development releases](/docs/software/status/development-releases/) of the [software](/docs/getting-started/software) to implement the ready4 [framework](/docs/framework/) and initial [model modules](/docs/model/).
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{% blocks/lead %}}
<div class="col">
<h1><b>Minimum Viable Product</b></h1>
<h2 class="text-center">Our current phase of development aims to <a href = "/docs/contribution-guidelines/priorities/launch/">launch a skeleton systems model</a>, <a href = '/docs/contribution-guidelines/priorities/curate/'>keep that model up to date</a> and then <a href='/docs/contribution-guidelines/priorities/apply/'>demonstrate its practical utility</a> for generating <a href = '/docs/examples/'>useful insights for youth mental health decision-makers</a>. </h2>
</div>
{{% /blocks/lead %}}

{{< blocks/section >}}
{{< cardpane >}}

{{< card header="<b>PhD project at <a href = 'https://research.monash.edu/en/organisations/sphpm-health-economics-group'>Monash University Health Economics Group</a></b>" 
footer="Primary Supervisor: <a href = 'https://research.monash.edu/en/persons/cathy-mihalopoulos' >Cathy Mihalopoulos</a>">}}
The PhD candidature of ready4's project lead <a href = "https://mph-economist.netlify.app">Matthew Hamilton</a> is focused on refining the ready4 <a href = "/docs/framework/">framework</a> and applying it to develop model <a href = '/docs/getting-started/concepts/module/'>modules</a> for exploring economic topics relating to primary <a href="/docs/model/using-modules/platforms/">mental health services</a> for young people in Australia. The PhD is supported by an Australian Government Research Training Program (RTP) Scholarship and, in addition to peer-reviewed publications, aims to produce outputs including <a href = "/docs/software/libraries/types/framework/">framework libraries</a>, <a href = "/docs/software/libraries/types/module/">module libraries</a>, open access <a href="/docs/datasets/">datasets</a>, <a href="/docs/analyses/replication-code/">reproducible analyses</a> and <a href="/docs/analyses/decision-aids/">decision aids</a>.
{{< /card >}}
{{< card header="<b>Modelling projects at <a href = 'https://www.orygen.org.au'>Orygen</a></b>" 
footer="Head of Health Services and Outcomes Research: <a href = 'https://www.orygen.org.au/About/Our-Leaders/Researchers/Sue-Cotton' >Sue Cotton</a>">}}
A number of <a href = "/docs/getting-started/concepts/project/">modelling projects</a> at Orygen, apply, extend and/or supplement the core ready4 modules being developed under the PhD program. <a href = "/docs/examples/">Examples</a> of current and recent projects include those in <a href = "/docs/analyses/replication-code/model-choice/">choice modelling</a> and <a href = "/docs/analyses/replication-code/map-utility/">utility mapping</a>. Each project is independently funded and governed. Details of <a href = "/docs/contribution-guidelines/contribution-types/funding/">project funding</a> are available in the citation information, meta-data and acknowledgements of the <a href = "/docs/software/libraries/types/module/">module libraries</a>, <a href="/docs/datasets/">datasets</a>, <a href="/docs/analyses/">analyses</a> and manuscripts associated with each project.
{{< /card >}}
{{< /cardpane >}}

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center"><b>Adoption</b></h1>
<h2 class="text-center">Our planned next phase of development is to <a href = "/docs/contribution-guidelines/priorities/support/">build a community of users and contributors</a>, <a href = "/docs/contribution-guidelines/priorities/extend/">extend the ready4 model</a> and <a href = "/docs/contribution-guidelines/priorities/integrate/">integrate it with other open source tools</a>. We <a href = "/docs/contribution-guidelines/contribution-types/">need your help</a> to make this happen!</h2>
</div>

{{< /blocks/section >}}
