---
title: About readyforwhatsnext
linkTitle: About
menu:
  main:
    weight: 1
---

{{< blocks/cover title="About readyforwhatsnext" image_anchor="bottom" height="min" >}}
<h1>readyforwhatsnext is being implemented by <a href = 'https://www.monash.edu/medicine/sphpm/units/health-economics-group'>Monash University Health Economics Group</a>. The project lead is <a href ="https://github.com/matthewphamilton">Matthew Hamilton</a>.</h1>
{{< /blocks/cover >}}

{{% blocks/lead %}}
<div class="col">
<h1><b>Catalyst</b></h1>
<h2 class="text-center">In July 2017, with funding support from VicHealth, Orygen and Victoria University, we began exploratory development of readyforwhatsnext as a modular and open source health economic model of resilience in young people.</h2>
</div>


{{% /blocks/lead %}}


{{% blocks/lead color="white"%}}
<div class="col">
<h1><b>Prototype</b></h1>
<h2 class="text-center">We have since expanded model scope to <a href="/docs/getting-started/model/">youth mental health more broadly</a> and have released development versions of a some <a href = "/docs/tutorials/finding/libraries/">initial model modules</a>. We have also released replication artefacts (analysis programs, reporting templates and datasets) for <a href="/docs/examples/">studies undertaken with model modules</a>. These activites have been supported by an Australian Government Research Training Program (RTP) Scholarship funded PhD project and through multiple independently funded and governed modelling projects.
</h2>
</div>
{{% /blocks/lead %}}


{{% blocks/lead color="primary"%}}
<div class="col">
<h1><b>Future</b></h1>
<h2 class="text-center">With <a href = "/docs/contribution-guidelines/contribution-types/">additional help</a>, we hope to continue to <a href = "/docs/contribution-guidelines/priorities/extend/">extend the readyforwhatsnext model</a>. </h2>
</h2>
</div>
{{% /blocks/lead %}}

{{< blocks/section color = "dark">}}
{{< /blocks/section >}}
