+++
title = "ready4"
linkTitle =  "ready4"
+++

{{< blocks/cover color = "white"  >}}
<div class="mx-auto">
<div class="row justify-content-center align-items-center">
                <div class="col-xl-7 col-lg-6 col-md-6">
                          <h1>
                            A framework for<br />
                            transparent, reusable<br />
                            and updatable<br />
                            health economic models
                            </h1>
                            <br />
                            <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
                                                                              	  		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                                                                              	  		</a>
                                                                              	  		<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ready4-dev/">
                                                                              	  		                                                  	  		          	  		  		Code <i class="fab fa-github ml-2 "></i>
                                                                              	  		                                                  	  		          	  		  		</a>
                                                                              	  		                                                  	  		          	  		  		<p class="lead mt-5"> </p>
                                                                              	  		                                                  	  		          	  		  		</div>
                                                                              	  		                                                  	  		          	  		  		<div class="col-xl-5 col-lg-6 col-md-6">
                                                                              	  		                                                  	  		          	  		  		  <img class="img-fluid"
                                                                              	  		                                                  	  		          	  		  		  src="/images/default.svg"
                                                                              	  		                                                  	  		          	  		  		  alt-text="ready4 logo"/>
                                                                              	  		                                                  	  		          	  		  		  </div>
                                                                              	  		                                                  	  		          	  		  		  </div>
          </div>
            {{< /blocks/cover >}}

{{< blocks/lead >}}
<div class="col">
<h1 class="text-center">ready4 is a <a href="/docs/framework/">software framework</a> for implementing health economic models in R.</h1>
</div>

{{< /blocks/lead >}}

{{< blocks/section color="dark">}}
{{% blocks/feature icon="fab fa-connectdevelop" title="Develop [model](/docs/model/modules/)"  %}}
[Model modules](/docs/getting-started/concepts/module/) are [written in computer code](/docs/framework/use/authoring-modules/). 
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-database" title="Add [Data](/docs/model/datasets/)" %}}
Data specific to a decision context and set of assumptions are [added to model modules](/docs/framework/use/authoring-data/).
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-chart-bar" title="Run [Analyses](/docs/model/analyses/)" %}}
[Algorithms are applied to data](/docs/framework/use/authoring-analyses/) contained in model modules to generate [insight](/docs/examples/).
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{% blocks/lead color="primary" %}}
<h1 class="text-center">ready4 is being used to develop a <a href="/docs/model/">modular model of youth mental health</a> that combines models from six of <a href ="https://doi.org/10.1016/j.jhealeco.2012.03.002">Wagstaff and Culyer</a>'s discipline domains.</h1>

{{% /blocks/lead %}}

{{< blocks/section color="dark">}}

{{% blocks/feature icon="fas fa-heartbeat" title="Health and its value"  %}}
Valuation of youth mental health outcomes through the [development](/docs/model/modules/using-modules/people/map-to-utility/) and [use](/docs/model/modules/using-modules/people/predict-utility/) of utility mapping models.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-arrows-alt" title="Determinants of health"  %}}
[Synthetic populations with risk and protective factors](/docs/model/modules/pipeline/pipeline-people/) for mental disorders.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-chart-area" title="Demand for  healthcare"  %}}
[Spatial epidemiology](/docs/model/modules/using-modules/places/) and [helpseeking choice](/docs/model/modules/using-modules/people/predict-choice/) models.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-chart-line" title="Supply of healthcare"  %}}
Models of [primary and specialist youth mental health services](/docs/model/modules/pipeline/pipeline-platforms/).
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-people-carry" title="Efficiency and equity" %}}
Models to assess distributional impacts and optimal targeting of [youth mental health care provision](/docs/model/modules/pipeline/pipeline-platforms/).
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-comment-dollar" title="Economic evaluation" %}}
Models to assess the [budget impact](/docs/model/modules/pipeline/pipeline-programs/) and [cost-utility](/docs/model/modules/using-modules/people/assess-cost-utility/) of competing youth mental health policy and system design options.
{{% /blocks/feature %}}

{{< /blocks/section >}}


