+++
title = "ready4"
linkTitle =  "ready4"
+++

{{< blocks/cover color = "white"  >}}
<div class="mx-auto">
<div class="row justify-content-center align-items-center">
                <div class="col-xl-7 col-lg-6 col-md-6">
                          <h1>
                            A software framework<br />
                            and computational<br />
                            economic model<br />
                            of youth mental health
                            </h1>
                            <br />
                            <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
                                                                              	  		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                                                                              	  		</a>
                                                                              	  		<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ready4-dev/">
                                                                              	  		                                                  	  		          	  		  		Code <i class="fab fa-github ml-2 "></i>
                                                                              	  		                                                  	  		          	  		  		</a>
                                                                              	  		                                                  	  		          	  		  		<p class="lead mt-5"> </p>
                                                                              	  		                                                  	  		          	  		  		</div>
                                                                              	  		                                                  	  		          	  		  		<div class="col-xl-5 col-lg-6 col-md-6">
                                                                              	  		                                                  	  		          	  		  		  <img class="img-fluid"
                                                                              	  		                                                  	  		          	  		  		  src="/images/default.svg"
                                                                              	  		                                                  	  		          	  		  		  alt-text="ready4 logo"/>
                                                                              	  		                                                  	  		          	  		  		  </div>
                                                                              	  		                                                  	  		          	  		  		  </div>
          </div>
            {{< /blocks/cover >}}

{{< blocks/lead >}}
<div class="col">
<h1 class="text-center">The ready4 <a href="/docs/framework/">software framework</a> supports transparent, reusable and updatable computational models that are implemented in three steps.</h1>
</div>

{{< /blocks/lead >}}

{{< blocks/section color="dark">}}
{{% blocks/feature icon="fab fa-connectdevelop" title="[1. Develop model](/docs/model/)"  %}}
Abstract and [transferable](/docs/getting-started/concepts/transferable/) data structures and algorithms are written in computer code. 
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-database" title="[2. Add Data](/docs/datasets/)" %}}
Data specific to a decision context and set of assumptions are added to data structures.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-chart-bar" title="[3. Run Analyses](/docs/analyses/)" %}}
Algorithms are applied to data contained in data structures to generate insight.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{% blocks/lead color="primary" %}}
<h1 class="text-center">The ready4 <a href="/docs/model/">computational model</a> is being implemented by developing and combining models in six economic domains (<a href ="https://doi.org/10.1016/j.jhealeco.2012.03.002">Wagstaff and Culyer</a>) of youth mental health.</h1>

{{% /blocks/lead %}}

{{< blocks/section color="dark">}}

{{% blocks/feature icon="fas fa-heartbeat" title="Health and its value"  %}}
Valuation of youth mental health outcomes through the [development](/docs/model/using-modules/people/map-to-utility/) and [use](/docs/model/using-modules/people/predict-utility/) of utility mapping models.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-arrows-alt" title="Determinants of health"  %}}
[Synthetic populations with risk and protective factors](/docs/model/pipeline/pipeline-people/) for mental disorders.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-chart-area" title="Demand for  healthcare"  %}}
[Spatial epidemiology](/docs/model/using-modules/places/) and [helpseeking choice](/docs/model/using-modules/people/predict-choice/) models.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-chart-line" title="Supply of healthcare"  %}}
Models of [primary and specialist youth mental health services](/docs/model/pipeline/pipeline-platforms/).
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-people-carry" title="Efficiency and equity" %}}
Models to assess distributional impacts and optimal targeting of [youth mental health care provision](/docs/model/pipeline/pipeline-platforms/).
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-comment-dollar" title="Economic evaluation" %}}
Models to assess the [cost](/docs/model/pipeline/pipeline-programs/) and [cost-utility](docs/model/using-modules/people/assess-cost-utility/) of competing youth mental health policy and system design options.
{{% /blocks/feature %}}

{{< /blocks/section >}}


