+++
title = "ready4"
linkTitle =  "ready4"
+++

{{< blocks/cover color = "white"  >}}
<div class="mx-auto">
<div class="row justify-content-center align-items-center">
                <div class="col-xl-7 col-lg-6 col-md-6">
                          <h1>
                            A modular, open source<br />
                            computational model<br />
                            of youth mental health
                            </h1>
                            <br />
                            <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
                                                                              	  		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                                                                              	  		</a>
                                                                              	  		<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ready4-dev/">
                                                                              	  		                                                  	  		          	  		  		Code <i class="fab fa-github ml-2 "></i>
                                                                              	  		                                                  	  		          	  		  		</a>
                                                                              	  		                                                  	  		          	  		  		<p class="lead mt-5"> </p>
                                                                              	  		                                                  	  		          	  		  		</div>
                                                                              	  		                                                  	  		          	  		  		<div class="col-xl-5 col-lg-6 col-md-6">
                                                                              	  		                                                  	  		          	  		  		  <img class="img-fluid"
                                                                              	  		                                                  	  		          	  		  		  src="/images/default.svg"
                                                                              	  		                                                  	  		          	  		  		  alt-text="ready4 logo"/>
                                                                              	  		                                                  	  		          	  		  		  </div>
                                                                              	  		                                                  	  		          	  		  		  </div>
          </div>
            {{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
<h1 class="text-center">ready4 adopts a <a href="/docs/getting-started/motivation/">collaborative and iterative approach</a> to modelling systems that shape the mental health and wellbeing of young people.</h1>

{{% /blocks/lead %}}

{{< blocks/section color="light">}}

{{< cardpane >}}

{{< card header="<b><a href = \"/docs/model/using-modules/people/\">People</a></b>" >}}
Modelling the characteristics, relationships, behaviours, risk factors and outcomes of young people and those important to them.
{{< /card >}}
{{< card header="<b><a href = \"/docs/model/using-modules/places/\">Places</a></b>" >}}
Modelling demographic, environmental and proximity drivers of access, equity and outcomes.
{{< /card >}}
{{< /cardpane >}}

{{< cardpane >}}

{{< card header="<b><a href = \"/docs/model/using-modules/platforms/\">Platforms</a></b>" >}}
Modelling the optimal staffing and configuration of support services for young people.
{{< /card >}}
{{< card header="<b><a href = \"/docs/model/using-modules/programs/\">Programs</a></b>" >}}
Modelling the affordability, value for money and appropriate targeting of interventions for young people.
{{< /card >}}
{{< /cardpane >}}

{{< /blocks/section >}}


{{< blocks/lead >}}
<div class="col">
<h1 class="text-center">ready4 is being developed as multiple independent <a href="/docs/getting-started/concepts/project/">modelling projects</a>, that adopt a common <a href="/docs/framework/">framework</a> to iterate over three steps.</h1>
</div>

{{< /blocks/lead >}}

{{< blocks/section color="dark">}}
{{% blocks/feature icon="fab fa-connectdevelop" title="[Develop model](/docs/model/)"  %}}
Abstract and generalised data structures and algorithms are written in computer code. 
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-database" title="[Add Data](/docs/datasets)" %}}
Data specific to a decision context and set of assumptions are added to data structures.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-chart-line" title="[Run Analyses](/docs/analyses)" %}}
Algorithms are applied to data contained in data structures to generate insight.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/lead>}}

<div class="col-12">
<h1 class="text-center">ready4 has been developed for three main <a href = "/docs/getting-started/users/">types of user</a>.</h1>
</div>

{{< /blocks/lead >}}

{{< blocks/section color="dark">}}

{{% blocks/feature icon="fas fa-chalkboard-teacher" title="[Coders](/docs/getting-started/users/coder/)"  %}}
[Test, refine and extend the software that implements ready4](/docs/contribution-guidelines/contribution-types/code/).    
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-user-cog" title="[Modellers](/docs/getting-started/users/modeller/)"  %}}
[Apply ready4](/docs/contribution-guidelines/contribution-types/use/) to undertake replicable modelling analyses.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-handshake" title="[Planners](/docs/getting-started/users/planner/)"  %}}
Co-develop, commission and use [ready4 decision-aids](/docs/analyses/decision-aids/).
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/lead >}}

<div class="col-12">
<h1 class="text-center">Other stakeholders can also benefit from and <a href = "/docs/contribution-guidelines/">contribute to ready4</a>.</h1>
</div>

{{< /blocks/lead >}}

{{< blocks/section >}}

{{% blocks/feature icon="fas fa-comment-dollar" title="Funders"  %}}
[Accelerate our development](/docs/contribution-guidelines/contribution-types/funding/).
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-book-reader" title="Researchers" %}}
[Integrate ready4 into your research implementation plans](/docs/contribution-guidelines/contribution-types/use/).
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-user-friends" title="Young people" %}}
[Help shape our priorities](/docs/contribution-guidelines/contribution-types/advisory/).
{{% /blocks/feature %}}

{{< /blocks/section >}}
